<!DOCTYPE html>
<html>
  <head>
    <title>Messiah</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <style type="text/css">
      body { padding-top: 80px; }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Messiah</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if signed_in? %>
              <li><a href="/profile/me"><%= "#{current_account.name}@#{current_account.screen_name}" %>さん</a></li>
              <li><a href="/profile/logout">ログアウト</a></li>
            <% else %>
              <li><a href="/auth/twitter">Twitterでログイン</a></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div id="header">
      <div class="container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
